

img#logo_img{
  width:500px;
  height:500px;
}
h1#Firstheading,.Secondheading {
  font-family: 'Paytone One', sans-serif;
}
.num_color{
  color:blue
}
#dollar{
  color:green
}
th, td {
  padding: 10px;
}
.cell_background{
  background-color:lightgrey
}
.num_color{
  font-size:xx-large;
}
  
table,th, td,dialog {
  border: 2px solid black;
}
a, span,p,figcaption, table,summary,fieldset,li,address,option,datalist,.options{
  font-family: 'Montserrat', sans-serif;
}

.product_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  text-align: center;  
  background:white;
}

.images_captions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  text-align: center; 
  background:white; 
}
.images_captions img {
  width: 95%;
  height: 95%;
  }

  .images_captions iframe {
    width: 95%;
    height: 100%;
    border: 0;
  }
  fieldset{


  border: 0px solid white;

}

  #images_captions{
      display: flex;  
  }        

  figcaption {
      text-align: center;
  }  
  tr,table.order_table{
      margin-left:auto; 
      margin-right:auto;
      text-align: center;  
  } 
  table{
    width:97%;
    margin-left:auto;
    margin-right:auto; 
  
  }